.container__about{
  


    &-master{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        p{
           width: 50%;
        }
       
    }
}