.container__about{
  


    &-master{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-around;
        
        img{
            width: 30%;
        }
        p{
           width: 50%;
        }
       
    }
}