.boton{
    background-color: #0F0740;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;

&:hover {
    border-radius: 10px;
    border:2px solid #ABD904;
    -webkit-transform: scale(1);
    transform: scale(1.2)

}
}