.container__Cards{
    display: flex;
    color: white;
    justify-content: space-between;

    &-title{
        width: 40%;
        height: 50;
        background-color: #0F0740;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        p{
            margin: 0;
        }
}
}