.categories__container {
  margin-top: 25px;
}
.categories {
  background: #fff;

  width: 100%;
  border-radius: 10px;
  margin: 25px 0px;
  padding: 30px 10px 10px 10px;
  &__name {
    color: black;
    font-size: 25px;
    padding-left: 15px;
  }
}

.carousel {
  width: 100%;
  position: relative;
  &__container {
    overflow-x: scroll;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;

    &:hover .carousel-item {
      opacity: 0.3;
    }

    &:hover .carousel-item:hover {
      -webkit-transform: scale(1.01);
      transform: scale(1.01);
      opacity: 1;
    }
  }
}
