
@import "./components/Header";
@import "./components/Footer";
@import "./components/CategoriesSection";
@import "./components/TitleSection";
@import "./components/NoticeOfPrivacy";
@import "./components/About";
@import "./components/Boton";
// @import "./components/Boton2";
@import "./components/Cards";
@import "./components/Form";
@import "./components//RegisterForm";


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
   
}

